.body {
  margin: 0;
  background: #222;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.header {
  background: #55d6aa;
}

.header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
}

.nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;
  position: absolute;
  width: 0%;
  top: 0;
  transition: all ease-in-out 200ms;
}

.ul {
  margin: 0;
  padding: 0;
  list-style: none
}

.li {
  display: inline-block;
  margin-left: 40px;
  padding-top: 35px;
  text-transform: uppercase;
  color: #444;
  text-decoration: none;
  font-size: 19px;
  position: relative;
}

.nav a {
  text-decoration: none;
  color: #444;
}

.nav a:hover::before {
  width: 100%;
}

#searchbar {
  float: right;
  width: 300px;
  padding-top: 35px;
}

.login-body {
  margin: 0;
  padding: 0;
  background: url('https://kpbs.media.clients.ellingtoncms.com/img/croppedphotos/2017/05/19/whiterhino-s_t800.jpg?90232451fbcadccc64a17de7521d859a8f88077d');
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}

.login-box {
  width: 320px;
  height: 420px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  
}
